[Desktop Entry]
Name=pyRenamer
Comment=Mass rename files
Exec=/usr/bin/pyrenamer
Icon=pyrenamer
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;FileTools;
